{% extends "base.html" %}

{% block content %}
{% include 'navbar.html' %}
<div class="container mt-5">
    <h1 class="mb-4">Dashboard</h1>
    <div class="row">
        <div class="row d-flex justify-content-center">
            <form method="post" action="{% url 'algoritmo' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Iniciar</button>
            </form>
            <div class="mt-4">
                {% block content_algoritmo %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
