{% extends "base.html" %}

{% block content %}
{% include 'navbar.html' %}
<div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="card col-md-6 mx-auto">
        <div class="card-body">
            <h2 class="text-center mb-4">Iniciar Sesión</h2>
            {% if error %}
                <div class="alert alert-danger text-center mb-4">{{ error }}</div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Nombre de usuario" name="username" required>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Contraseña" name="contrasena" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
