<style>
    .navbar-nav .nav-link {
        font-size: 18px; /* Puedes ajustar el tamaño según tus preferencias */
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <i class="bi bi-house-door"></i> Mi Sitio
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if not user.is_authenticated %}
                    <li class="nav-item me-2">
                        <a class="nav-link" href="/registro/">Registro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login/">Login</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="nav-item me-2">
                        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="nav-link" href="{% url 'historial' %}">Historial</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="nav-link" href="{% url 'dashboard' %}">Configurar cuenta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
